.panel{
    display: none;
    padding: 20px;
    background-color: rgb(185, 170, 149);
    border-radius: 10px;
    box-shadow: 0 4px rgb(rgb(116, 50, 50), rgb(69, 124, 69), rgb(40, 40, 99));
    animation: fadeIn 0.5s ease;
}

body, h1, h2, p{
    margin: 0;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(90, 120, 165);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

/*Estilo de titulo mejorado*/
header h1{ 
    font-size: 3rem;/*Tamaño mas grande para tener un mayor impacto*/
    text-transform: uppercase;
    letter-spacing: 4px; /*Espacio entre palabras*/
    margin: 0;
    animation: glow 1.5s infinite alternate;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*Efecto degradado en el texto*/
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*Sombreado para mayor profundidad*/
}

/*Fondo animado debajo del titulo*/
header::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 150%;
    background: radial-gradient(circle, rgba(103, 141, 185, 0.2)0%, transparent 70%);
    z-index: 0;
    animation: pulse 6s infinite;
    border-radius: 50%;

}

/*Animacion de pulso*/
@keyframes pulse {
0%{
    transform: translate(-50%, -50%)scale(1);
   opacity: 1; 
}   

50%{
    transform: translate(-50%, 50%)scale(1.2);
    opacity: 0.6;}

100%{
    transform: translate(-50%, -50%)scale(1);
    opacity:1;
}
}

p{
    color: black;
}

h1{
    font-size: 2rem;
    color: aqua;
}

main{
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.panel img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.panel h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#panel1:checked~#content-panel1,
#panel2:checked~#content-panel2,
#panel3:checked~#content-panel3,
#panel4:checked~#content-panel4,
#panel5:checked~#content-panel5
{
    display: block;
}

/*Animacion*/
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate(20px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

/*Ocultar los controladores*/
input[type=radio]{
display: none;
}

.button{
    background-color: rgb(57, 57, 126);
    padding: 10px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    text-decoration: antiquewhite
}